spring:
  datasource:
    url: jdbc:h2:file:~/db/goodjobpd
    driver-class-name: org.h2.Driver
    username: goodjobpd
    password: goodjobpd01

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect

server:
  port: 8080
